*.db
*.pyc
data/gsheet_credentials.json
data/login_info
discord.log
data/official_login_info
*.log
data/bot_config_fake
data/login_info.txt
data/test_login_info.txt
data/official_login_info.txt
.idea/*
data/bot_config.txt
data/bot_config.txt
data/real_login_info.txt
data/bot_config.txt
data/bot_config_real.txt
data/fake_bot_config.txt
data/real_bot_config.txt
stuff.sql
logging/*